In [ ]:
a = 1; b = 2
#이 줄을 실행시켜야 각 variable에 값이 저장된다. 실행시키지 않으면 variable이 선언이 되지 않아 아랫줄에서 print할 수 없다.

In [8]:
print(a)
print(b)
#output을 지우고 싶다면 각 라인의 값을 지우고 난 뒤에 Cell > All output > Clear

1
2

In [9]:
type(a)
#변수 a의 타입을 보여주는 명령어
#앞에서 변수의 값을 정했더라도 뒤에서 바꿔주면 그렇게 바뀐 상태로 저장이 된다. 
#int는 정수, float는 실수

int

In [13]:
a = 1.0

In [14]:
type(a)

float

In [15]:
int(a)
#앞서 지정한 변수의 타입을 의도적으로 바꿔줄 수 있다.

1

In [16]:
float(int(a))
#정수를 다시 실수로 바꿀 수도 있다.

1.0

In [17]:
a = 1; a = float(a); print(type(a))
#a에 1을 대입하고, a의 타입을 float로 바꿔서 다시 a에 저장한 뒤 그 마지막 a의 타입을 print한다.

<class 'float'>

In [18]:
a = 1.2; a = int(a); print(type(a))
#a에 1.2를 대입하고, a의 타입을 int로 바꿔서 다시 a에 저장한 뒤 그 마지막 a의 타입을 print한다.

<class 'int'>

In [19]:
a = '123'
#컴퓨터가 처리하는 데이터는 두 가지. 숫자 or 문자
#'' 나 ""사이에 써주게 되면 123은 문자로 인식된다. --> Quotation은 문자열을 만들어주는 방법

In [20]:
type(a)
#따라서 a의 타입은 string(문자열)

str

In [21]:
a = 'abc'

In [22]:
a[0]
#[] 안에 숫자를 써주면 각 자리의 문자를 알 수 있다. C와 마찬가지로 0부터 시작

'a'

In [24]:
a[-1]
#마지막 문자는 -1번째 string이다.

'c'

In [25]:
a = [1, 2, 3]

In [26]:
type(a)
#배열의 타입명은 list. 대괄호 사이에 콤마로 구분된다. 숫자와 문자가 동시에 존재할 수도 있다.

list

In [27]:
a = [1, 2, 'a']

In [28]:
a = [1, 2, 'ab', [4, 5]]
#list 안에 또 다른 list가 들어갈 수도 있다.

In [32]:
a[-1]
#마지막 list의 값을 가져올 수 있다.

[4, 5]

In [33]:
a[-1][0]
#a의 -1번째 값인 [4,5] 안에서 첫 번째 값을 가져오는 방법.

4

In [34]:
a = '123'; a = list(a);

In [35]:
a
#하나하나 문자를 각각 쪼개서 list에 저장한다.

['1', '2', '3']

In [36]:
a = {"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])
#중괄호로 묶여 있고, 안에서는 콤마로 구분된다. pairwise되어 있는 경우: 타입이 dict = dictation 사전에 나와 있듯이 쌍으로 나와 있는 경우

<class 'dict'>
apple

In [37]:
a["a"]
#a라는 변수의 "a"는 apple이다. "c"는 2014
#pair의 왼쪽 값에 access하면 오른쪽 값을 도출해낼 수 있다.

'apple'